<nav class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<%= link_to "Tab Library", '#', class: "navbar-brand" %>
		</div>
			<ul class="nav navbar-nav">
				<li><%= link_to "Home", '/home' %></li>
				<li><%= link_to "Library", tabs_path %></li>
				<li><%= link_to "Sign in", '/signin' %></li>
			</ul>
			<div class="container">
				<%= link_to 'Play', '#', class: "btn btn-default btn-sm navbar-btn playButton" %>
				<%= link_to 'Pause', '#', class: "btn btn-default btn-sm navbar-btn pauseButton" %>
			</div>
	</div>
</nav>
